name: Build FFmpeg for Linux64

on:
  workflow_dispatch:
env:
  DOCKER_BUILDKIT: 1
jobs:
  build_64:
    name: Build Linux64 ffmpeg
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install buildx
        uses: docker/setup-buildx-action@v2
        with:
          config: .github/buildkit.toml
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Image Name
        id: imagename
        run: echo "name=ghcr.io/${GITHUB_REPOSITORY,,}/linux64" >> $GITHUB_OUTPUT
      - name: Stop Commands
        run: T="$(echo -n ${{ secrets.TOKEN }} | sha256sum | head -c 64)" && echo -e "::add-mask::${T}\n::stop-commands::${T}"
      - name: Build target base image
        uses: docker/build-push-action@v3
        with:
          context: images/base
          pull: true
          push: true
          tags: ${{ steps.imagename.outputs.name }}:latest
      - name: Build ffmpeg
        run: |
           bash ./generate.sh linux64 gpl
           bash ./build.sh linux64 gpl